.contenedor{
    width: 100%;
    height: 1400px;
    background-color: rgb(165, 207, 163);
}
.encabezado{
    width: 100%;
    height: 150px ;
    background-color: rgb(171, 223, 223);
}
.menu{
    width:100% ;
    height:100px ;
    background-color: rgb(98, 220, 179);
    display: flex;
}
.contenedor2{
    width: 100%;
    height: 1200px; 
    background-color: cornflowerblue;
    display: flex;
}
.izquierdo{
    width: 20%;
    height: 1200px;
    background-color: rgb(176, 188, 251);
}
.centro{
      width: 60%;
      height: 1200px;
      background-color: rgb(137, 120, 212);
      color: black;
     font-size:30px;
     font-family: 'Times New Roman', Times, serif;
}    
.derecha{
    width: 20%;
    height: 1200px;
    background-color: mediumslateblue;
  
}
.sociales{
width:100px ;
height:98px ;
background-color: rgb(47, 186, 225);
margin: 1px;
color: black;
font-size:30px;
font-family: 'Times New Roman', Times, serif;
}
.ingles{
width:100px ;
height:98px ;
background-color: aqua;
margin: 1px;
color: black;
font-size:30px;
font-family: 'Times New Roman', Times, serif;
}
.matematicas{
width:100px ;
height: 98px;
background-color: rgb(186, 136, 233);
margin: 1px;
color: black;
font-size:30px;
font-family: 'Times New Roman', Times, serif;
}
.biologia{
width: 100px;
height: 98px;
background-color: aquamarine;
margin: 1px;
color: black;
font-size:30px;
font-family: 'Times New Roman', Times, serif;
}
.tecnologia{
width: 100px;
height: 98px;
background-color: aqua;
margin: 1px;
color: black;
font-size:30px;
font-family: 'Times New Roman', Times, serif;
}















