.encabezado {

    width:100%;
    height:1500px;
    }
    
    .menu { 
    
    width:100%;
    height:150px ;
    }
    
    .menu2{
    background-color: darkorchid;
    width: 100%;
    height: 150px;
    }
    
    .izquierdo{
    background-color: blueviolet;
    width: 20%;
    height:50px;
    }
    
    .centro{
    background-color: blueviolet;
    width:60% ;
    height: 1500px;
    }
    
    .izquierdo{
    background-color: blueviolet;
    width:20%;
    height:50px;
    }
    
    
.contenido{

    height: 280px;
    
    width: 100%;
    
    position: relative;
    
    top: 410px; 
    
    }
    
    